* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif ;
}

header .container h1, footer p {
    align-items: center;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header, footer {
    padding: 30px 0 0;
    background-color: dodgerblue;
    margin-bottom: 40px;
    color: white;
    height: 70px;
}

header li {
    display: inline;
    margin-left: 8px;
}

header li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section .sobre {
    display: flex;
    text-align: justify;
}

section .container h2 {
    margin: 0 0 16px 20px;
    color: dodgerblue;
}

section .sobre p {
    margin-bottom: 30px;
}

hr {
    margin-bottom: 20px;
    border-color: dodgerblue;
    border-radius: 50px;
}

.store {
    max-width: 400px;
    margin: 0 20px 20px 0;
}

.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

.container-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: justify;
}

.products img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.products button {
    border: none;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.anuncio {
    padding: 20px;
    max-width: 220px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
}

.anuncio p, h3 {
    margin-bottom: 10px;
}

footer {
    text-align: center;
}

@media screen and (max-width: 767px) {
    header .container {
        display: flex;
        justify-content: space-around;
        height: 10px;
        align-items: baseline;
    }

    .container {
        max-width: 90%;
    }

    .brands-list {
        margin-bottom: 10px;
    }

    .brands-list img {
        max-width: 65px;
    }

    header li {
        font-size: 15px;
    }

    header h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .store {
        width: 250px;
        align-items: center;
    }

    .sobre {
        flex-direction: column;
        
    }

    .products {
        flex-direction: column;
        align-items: center;
    }

    .anuncio {
        max-width: 70%;
    }

    footer {
    font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header .container {
        display: flex;
        justify-content: space-between;
        height: 10px;
        align-items: center;
    }

    .container {
        max-width: 90%;
    }

    .brands-list {
        margin-bottom: 10px;
    }

    header li {
        font-size: 15px;
    }

    header h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .store {
        width: 540px;
    }

    .sobre {
        flex-direction: column;
        padding: 10px;
    }

    .products {
        display: flex;
        align-items: baseline;
    }

    .anuncio {
        max-width: 35%;
    }

    footer {
        height: 70px;
        align-items: center;
    }
}